- main_toolbar do |t|
  = t.edit
  = t.destroy
  = t.duplicate resource, method: :post, params: {redirect: nil}

= main_informations do
  = infos do
    .med-info.important
      %span.title= :total_area.tl
      %span.value
        = resource.total_area
= cobbles do |c|

  - c.cobble(:map) do
    = model_map(resource.crops, id: :land_parcels_plants.tl, layer_options: {fill_color: '#3171A9', fill_opacity:0.8 })
  