
- if resource.state == :planted
  = field_set( tl(:edit) + ' ' + resource.name, class:"multi-columns") do
    = f.input :name
    = f.referenced_association :vine_variety, new: false, label: CviLandParcel.human_attribute_name(:vine_variety_name)
    = f.referenced_association :rootstock, new: false
    = f.referenced_association :campaign, new: false 
    = f.input :state
    = f.input :inter_row_distance_value
    = f.input :inter_vine_plant_distance_value
    = f.input :calculated_area, disabled: true, hint: 'You cannot change your username.'
    = hidden_field_tag(:shape, f.shape)
- else
  = field_set( tl(:edit) + ' ' + resource.name, class:"multi-columns" ) do
    = f.input :name
    = f.referenced_association :vine_variety, new: false, label: CviLandParcel.human_attribute_name(:vine_variety_name)
    = f.referenced_association :rootstock, new: false
    = f.referenced_association :campaign, new: false 
    = f.input :state
    = f.input :removed_a
    = f.input :inter_row_distance_value,field: :number
    = f.input :inter_vine_plant_distance_value, field: :number
    = f.input :calculated_area, disabled: true, hint: 'You cannot change your username.'
    = hidden_field_tag(:shape, f.shape)

