
- activity_default_params = { family:"plant_farming", production_nature_id: 154, cultivation_variety: "vitis", production_cycle: "perennial", countings_hidden:true, countings_hidden:true, seasons_hidden:true, tactic_hidden:true}
= ekylibre_form_for(@cvi_land_parcel, url: update_multiple_backend_cvi_land_parcels_path, method: :put, data: {dialog: params[:dialog]}) do |f|
  - current_year = Time.current.year
  - for cvi_land_parcel in @cvi_land_parcels
    = hidden_field_tag "ids[]",cvi_land_parcel.id, id:"ids_#{cvi_land_parcel.id}"
  = field_set( tl(:edit) + ' ' + @cvi_land_parcels.collect(&:name).join(','), class:"multi-columns" ) do
    = f.input :name
    = f.referenced_association :designation_of_origin, new: false, label: CviLandParcel.human_attribute_name(:designation_of_origin_name), input_html: {data: {'search-treshold'=> 3, button: false}}
    = f.referenced_association :vine_variety,source: {action: :unroll_vine_varieties}, new: false, label: CviLandParcel.human_attribute_name(:vine_variety_name)
    = f.input :planting_campaign, as: :select, collection: (1900..(current_year+1)).to_a.reverse.map(&:to_s)
    = f.referenced_association :rootstock, source: {action: :unroll_rootstocks}, new: false, label: :rootstock.tl
    = f.input :state,include_blank: false
    = f.input :land_modification_date
    = f.input :inter_row_distance_value, as: :numeric, input_html: {type: 'number', value: resource.inter_row_distance_value&.to_i, min:12, step:1}
    = f.input :inter_vine_plant_distance_value,as: "numeric", input_html: {value: resource.inter_vine_plant_distance_value&.to_i }
    = f.referenced_association :activity, source: {scope: :wine }, new: activity_default_params, label: :activity.tl, required: true
  - f.add(:submit, :update.tl, data: {disable_with: :please_wait.tl}, class: 'primary')
  - f.add(:link, :cancel.tl, '', {class: 'btn', data: {close_dialog: params[:dialog]}})
  = f.actions
