- main_toolbar do |t|
  = t.edit resource

= janus do |j|
  - j.face :list do
    = cobbles do |c|
      - c.cobble :general_informations do
        = infos do
          - unless resource.cvi_number.blank?
            .med-info
              %span.title= CviStatement.human_attribute_name(:cvi_number)
              %span.value= resource.cvi_number
            .med-info
              %span.title= CviStatement.human_attribute_name(:extraction_date)
              %span.value= resource.extraction_date.to_formatted_s(:default)
            .med-info
              %span.title= CviStatement.human_attribute_name(:imported_at)
              %span.value= resource.created_at.to_date.to_formatted_s(:default)

          - unless resource.siret_number.blank?
            .med-info
              %span.title= CviStatement.human_attribute_name(:siret_number)
              %span.value= resource.siret_number
          - unless resource.declarant.blank?
            .med-info
              %span.title= CviStatement.human_attribute_name(:declarant)
              %span.value= resource.declarant
          - unless resource.farm_name.blank?
            .med-info
              %span.title= CviStatement.human_attribute_name(:farm_name)
              %span.value= resource.farm_name

            .med-info
              %span.title= CviStatement.human_attribute_name(:cadastral_plant_count)
              %span.value= resource.cadastral_plant_count
            .med-info
              %span.title= CviStatement.human_attribute_name(:cadastral_sub_plant_count)
              %span.value= resource.cadastral_sub_plant_count
            .med-info
              %span.title= CviStatement.human_attribute_name(:total_area)
              %span.value= resource.total_area_formated
              = @cvi_cadastral_plants
        - c.cobble(:cvi_cadastral_plants) do
          = kujaku do |k|
            - k.text
            - k.multi_choice :state, %i[planted removed_with_authorization].map{ |s| [s.tl, s] }
            - k.helper do
              - max = @cvi_statement.cvi_cadastral_plants.maximum('area_value').in_hectare
              .range-slider
                %label= CviCadastralPlant.human_attribute_name(:total_area)
                %span.range-minimum= 0.in_hectare.l(precision: 0)
                %input{ name: :area, data: { slider: { min: 0, max: max.to_f, value: range_slider_values(max.to_f, params[:total_area]), step: 0.0001, tooltip_split: true }, provide: 'slider' } }
                %span.range-maximum= max.to_s
            - k.helper do
              %label= CviCadastralPlant.human_attribute_name(:designation_of_origin_name)
              = select_tag(:designation_of_origin_name, options_for_select(([""] + @cvi_statement.cvi_cadastral_plants.collect(&:designation_of_origin_name)).uniq.sort))
            - k.helper do
              %label= CviCadastralPlant.human_attribute_name(:vine_variety_name)
              = select_tag(:vine_variety_name, options_for_select(([""] + @cvi_statement.cvi_cadastral_plants.collect(&:vine_variety_name)).uniq.sort))
            - k.helper do
              - max = @cvi_statement.cvi_cadastral_plants.maximum('inter_row_distance_value')
              .range-slider
                %label= CviCadastralPlant.human_attribute_name(:inter_row_distance)
                %span.range-minimum= 0
                %input{ name: :inter_row_distance_value, data: { slider: { min: 0, max: max, value: range_slider_values(max.to_f, params[:inter_row_distance_value]), step: 1, tooltip_split: true }, provide: 'slider' } }
                %span.range-maximum= max
            - k.helper do
              - max = @cvi_statement.cvi_cadastral_plants.maximum('inter_vine_plant_distance_value')
              .range-slider
                %label= CviCadastralPlant.human_attribute_name(:inter_vine_plant_distance)
                %span.range-minimum= 0
                %input{ name: :inter_vine_plant_distance_value, data: { slider: { min: 0, max: max, value: range_slider_values(max.to_f, params[:inter_vine_plant_distance_value]), step: 1, tooltip_split: true }, provide: 'slider' } }
                %span.range-maximum= max
          = cobble_list(:cvi_cadastral_plants)
