#error

- main_toolbar do |t|
  = t.edit resource
  - if resource.cvi_cultivable_zones.any?
    = tool_to(:resume_cvi_conversion.tl, backend_cvi_statement_conversion_path(resource), icon: :gear)
    = tool_to(:reset_cvi_conversion.tl, reset_backend_cvi_statement_conversion_path(@cvi_statement),icon: :gear, data:{ confirm: :are_you_sure_you_want_to_reset_cvi_conversion.tl})
  - else
    = tool_to(:convert_cvi.tl, 'javascript:void(0)', class:'select-campaign', icon: :gear, disabled: !resource.convertible?, data:{cvi_statement: params[:id]})

= render partial: 'campaign_selection_modal', locals: { cvi_statement: resource }
= modal(id: "delete-modal", class:'vertical-center', size: :medium) do
  .modal-header
  .modal-body
  .modal-footer

- kujaku = kujaku do |k|
  - k.text
  - k.multi_choice :state, %i[planted removed_with_authorization].map{ |s| [s.tl, s] }
  - k.helper do
    - max = @cvi_statement.cvi_cadastral_plants.maximum('area_value').in_hectare
    %div.label-container
      %label= CviCadastralPlant.human_attribute_name(:area)
    .range-slider
      %span.range-minimum= 0.in_hectare.l(precision: 0)
      %input{ name: :area, data: { slider: { min: 0, max: max.to_f, value: range_slider_values(max.to_f, params[:area]), step: 0.0001, tooltip_split: true }, provide: 'slider' } }
      %span.range-maximum= max.to_s(:short_form_unit)
  - k.helper do
    %div.label-container
      %label= CviCadastralPlant.human_attribute_name(:designation_of_origin_name)
    = select_tag(:designation_of_origin_name, options_for_select(([""] + FormattedCviCadastralPlant.where(cvi_statement_id:@cvi_statement.id).collect(&:designation_of_origin_name)).compact.uniq.sort, selected: params[:designation_of_origin_name]))
  - k.helper do
    %div.label-container
      %label= CviCadastralPlant.human_attribute_name(:vine_variety_name)
    = select_tag(:vine_variety_name, options_for_select(([""] + FormattedCviCadastralPlant.where(cvi_statement_id:@cvi_statement.id).collect(&:vine_variety_name)).uniq.sort , selected: params[:vine_variety_name]))
  - k.helper do
    - max = @cvi_statement.cvi_cadastral_plants.maximum('inter_row_distance_value')
    %div.label-container
      %label= CviCadastralPlant.human_attribute_name(:inter_row_distance)
    .range-slider
      %span.range-minimum= 0
      %input{ name: :inter_row_distance_value, data: { slider: { min: 0, max: max, value: range_slider_values(max.to_f, params[:inter_row_distance_value]), step: 1, tooltip_split: true }, provide: 'slider' } }
      %span.range-maximum= max.to_i
  - k.helper do
    - max = @cvi_statement.cvi_cadastral_plants.maximum('inter_vine_plant_distance_value')
    %div.label-container
      %label= CviCadastralPlant.human_attribute_name(:inter_vine_plant_distance)
    .range-slider
      %span.range-minimum= 0
      %input{ name: :inter_vine_plant_distance_value, data: { slider: { min: 0, max: max, value: range_slider_values(max.to_f, params[:inter_vine_plant_distance_value]), step: 1, tooltip_split: true }, provide: 'slider' } }
      %span.range-maximum= max.to_i

= cvi_cartography(map_config(mode: 'productions-index', controls: {zoom: true, home: false, fullscreen:true, layers:true}, position: 'topright'),
                  class: 'map-fullwidth map-halfheight') do |c|
  - c.serie :main, Charta.new_geometry("GEOMETRYCOLLECTION EMPTY").to_json_feature_collection()
  - c.simple :cvi_cadastral_plants, :main, index: true, async_url: backend_cvi_cadastral_plants_url(id: params[:id])

= cobbles do |c|
  - c.cobble(:cvi_cadastral_plants_map) do
    = kujaku
    = cobble_list(:cvi_cadastral_plants)
  - c.cobble :general_informations do
    = infos do
      - unless resource.cvi_number.blank?
        .med-info
          %span.title= CviStatement.human_attribute_name(:cvi_number)
          %span.value= resource.cvi_number
        .med-info
          %span.title= CviStatement.human_attribute_name(:extraction_date)
          %span.value= resource.extraction_date.to_formatted_s(:default)
        .med-info
          %span.title= CviStatement.human_attribute_name(:imported_at)
          %span.value= resource.created_at.to_date.to_formatted_s(:default)

      - unless resource.siret_number.blank?
        .med-info
          %span.title= CviStatement.human_attribute_name(:siret_number)
          %span.value= resource.siret_number
      - unless resource.declarant.blank?
        .med-info
          %span.title= CviStatement.human_attribute_name(:declarant)
          %span.value= resource.declarant
      - unless resource.farm_name.blank?
        .med-info
          %span.title= CviStatement.human_attribute_name(:farm_name)
          %span.value= resource.farm_name

        .med-info
          %span.title= CviStatement.human_attribute_name(:cadastral_plant_count)
          %span.value= resource.cadastral_plant_count
        .med-info
          %span.title= CviStatement.human_attribute_name(:cadastral_sub_plant_count)
          %span.value= resource.cadastral_sub_plant_count
        .med-info
          %span.title= CviStatement.human_attribute_name(:total_area)
          %span.value= resource.total_area_formatted
