/ - financial_year = FinancialYear.find_by(id: params[:current_financial_year])
/ - financial_year ||= FinancialYear.current
/ - main_financial_year_selector(financial_year)

- main_toolbar do |t|
  = dropdown_menu_button(:export.ta, icon: :download) do |d|
    - d.item :export_as_odt.tl, params: params.merge(format: :odt)
    - d.item :export_as_pdf.tl, html_options: { data: { no_turbolink: true } }, params: params.merge(format: :pdf)

- main_period_selector(:year)

= kujaku do |k|
  - k.text
  - k.helper :journal_period_crit
  - k.helper do
    %div.label-container
      %label= CviCadastralPlant.human_attribute_name(:vine_variety_name)
    = select_tag(:designation_of_origin_name, options_for_select(([""] + WineIncomingHarvestPlant.where(wine_incoming_harvest_id:WineIncomingHarvest.all.ids).map(&:plant).collect(&:specie_variety_name)).uniq.sort , selected: params[:designation_of_origin_name]))
  - k.helper do
    %div.label-container
      %label= WineIncomingHarvestStorage.human_attribute_name(:storage)
    = select_tag(:wine_storage_name, options_for_select(([""] + WineIncomingHarvestStorage.where(wine_incoming_harvest_id:WineIncomingHarvest.all.ids).map(&:storage).collect(&:name)).uniq.sort , selected: params[:wine_storage_name]))
  - k.helper do
    %div.label-container
      %label= WineIncomingHarvestPlant.human_attribute_name(:plant)
    = select_tag(:plant_name, options_for_select(([""] + WineIncomingHarvestPlant.where(wine_incoming_harvest_id:WineIncomingHarvest.all.ids).map(&:plant).collect(&:name)).uniq.sort , selected: params[:plant_name]))
  - k.helper do
    %div.label-container
      - max = WineIncomingHarvest.all.map{|w| w.tavp.to_f}.max + 1
      .range-slider
        %label= WineIncomingHarvest.human_attribute_name(:tavp)
        %span.range-minimum= 0
        %input{ name: :tavp, data: { slider: { min: 0, max: max, value: range_slider_values(max.to_f, params[:tavp]), step: 0.1, tooltip_split: true }, provide: 'slider' } }
        %span.range-maximum= max.to_f

= main_list 