/ - financial_year = FinancialYear.find_by(id: params[:current_financial_year])
/ - financial_year ||= FinancialYear.current
/ - main_financial_year_selector(financial_year)

- main_toolbar do |t|
  = dropdown_menu_button(:reception_report.tl, icon: :print) do |d|
    - d.item :pdf_format.tl, html_options: { data: { no_turbolink: true } }, params: params.merge(format: :pdf) 
    - d.item :odt_format.tl, params: params.merge(format: :odt)
    

- main_period_selector(:year)

= kujaku do |k|
  - k.text
  - k.helper :journal_period_crit
  - k.helper do
    %div.label-container
      %label= CviCadastralPlant.human_attribute_name(:vine_variety_name)
    = select_tag(:designation_of_origin_name, options_for_select(([""] + WineIncomingHarvestPlant.all.collect(&:plant_specie_variety_name)).uniq.sort , selected: params[:designation_of_origin_name]))
  - k.helper do
    %div.label-container
      %label= WineIncomingHarvestStorage.human_attribute_name(:storage)
    = select_tag(:wine_storage_name, options_for_select(([""] + WineIncomingHarvestStorage.all.collect(&:storage_name)).uniq.sort, selected: params[:wine_storage_name]))
  - k.helper do
    %div.label-container
      %label= WineIncomingHarvestPlant.human_attribute_name(:plant)
    = select_tag(:plant_name, options_for_select(([""] + WineIncomingHarvestPlant.all.collect(&:plant_name)).uniq.sort, selected: params[:plant_name]))
  - k.helper do
    %div.label-container
      - max = WineIncomingHarvest.all.map{|w| w.tavp.to_f}.max
      %label= WineIncomingHarvest.human_attribute_name(:tavp)
    .range-slider
      %span.range-minimum= 0
      %input{ name: :tavp, data: { slider: { min: 0, max: max, value: range_slider_values(max.to_f, params[:tavp]), step: 0.1, tooltip_split: true }, provide: 'slider' } }
      %span.range-maximum= max.to_f

= main_list 